*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "SimSun", serif
}
html,body{
	width: 100%;
	background-color: #f4f4f4;
	height: 1000px;
}
.wrapper{
	width: 100%;
	height: 100%;
}
/*导航栏*/
.wrapper .top-nav-wrap{
	width: 100%;
	height: 35px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #eee;
}
.wrapper .top-nav-wrap .top-nav{
	width: 1190px;
	height: 35px;
	margin: 0 auto;
	/*border:1px solid black;*/
}
.wrapper .top-nav-wrap .top-nav .top-nav-l{
	float: left;
}
.wrapper .top-nav-wrap .top-nav .top-nav-r{
	float: right;
}
.wrapper .top-nav-wrap .top-nav li{
	float: left;
	margin-right: 7px;
}
.wrapper .top-nav-wrap .top-nav li a{
	color: #6c6c6c;
	font-size: 12px;
	line-height: 35px;
	padding: 0 6px;
}
.wrapper .top-nav-wrap .top-nav li a:hover,
.wrapper .top-nav-wrap .top-nav li .login{
	color:#f40;
}
.wrapper .top-nav-wrap .top-nav .china{
	line-height: 35px;
	color: #3c3c3c;
	font-size: 12px;
}
.wrapper .top-nav-wrap .top-nav .china .china-span{
	padding: 0 6px;
}
.wrapper .top-nav-wrap .top-nav .cutoff span{
	color: #ddd;
	line-height: 35px;
}
.wrapper .top-nav-wrap .top-nav .bgPic{
	display: inline-block;
	width: 6px;
	height: 3px;
	vertical-align: middle;
	background-size: 100% 100%;
	/*border: 1px solid black; */
}
.wrapper .top-nav-wrap .top-nav .xsjPic{
	width: 20px;
	height: 20px;
	background-image: url('img/xsj.png');
}
.wrapper .top-nav-wrap .top-nav .shopcarPic{
	width: 20px;
	height: 20px;
	background-image: url('img/gwc.png');
}
.wrapper .top-nav-wrap .top-nav .likePic{
	width: 20px;
	height: 20px;
	background-image: url('img/xx.png');
}
.wrapper .top-nav-wrap .top-nav .webNavPic{
	width: 20px;
	height: 20px;
	background-image: url('img/daohang.png');
}
/*搜索栏*/
.wrapper .search-wrap{
	width: 100%;
	height: 97px;
	/*border: 1px solid black;*/
	background-color: #fff;
	padding-top: 24px;
	padding-bottom: 9px; 
}
.wrapper .search-wrap .search-con{
	width: 1190px;
	height: 88px;
	/*border: 1px solid black;*/
	margin: 0 auto;
}
.wrapper .search-wrap .search-con .logo-box{
	display: inline-block;
	width: 190px;
	height: 105px;
	/*border: 1px solid black;*/
	vertical-align: middle;
}
.wrapper .search-wrap .search-con .logo-box img{
	width: 100%;
	height: 100%;
}
.wrapper .search-wrap .search-con .search-box{
	display: inline-block;
	height: 87px;
	width: 627px;
	/*border: 1px solid black;*/
	vertical-align: middle;
	margin-left: 50px;
}
.wrapper .search-wrap .search-con .search-box .search-bd{
	width: 627px;
	height: 62px;
	/*border: 1px solid black;*/
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-teb{
	width: 610px;
	height: 22px;
	margin-left: 17px;
	/*border: 1px solid black;*/
}
.wrapper .search-wrap .search-con .search-box .search-bd li{
	float: left;
	color: #f40;
	width: 36px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	font-size: 12px;
	
}
.wrapper .search-wrap .search-con .search-box .search-bd .select{
	background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
	color: #fff;
	font-weight: 700;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}
.wrapper .search-wrap .search-con .search-box .search-bd li:hover{
	background-color: #ffeee5;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
}
.wrapper .search-wrap .search-con .search-bd .search-panel{
	width: 627px;
	height: 40px;
	position: relative;
	/*border: 1px solid black;*/
}
.wrapper .search-wrap .search-con .search-bd .btn{
	position:absolute;
	right: 0;
	top:0;
	width: 74px;
	height: 40px;
	z-index: 1000;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: center;
}
.wrapper .search-wrap .search-con .search-bd .btn button{
	border:none;
	background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
	width: 100%;
	height: 100%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}
.wrapper .search-wrap .search-con .search-input-box{
	width: 551px;
	height: 36px;
	border: 2px solid #ff5000;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: none;
	overflow: hidden;
}
.wrapper .search-wrap .search-con .search-input-box .search-inp{
	width: 472px;
	height: 36px;
	overflow: hidden;
}
.wrapper .search-wrap .search-con .search-input-box .search-inp input{
	width: 472px;
	height: 24px;
	line-height: 24px;
	border: 0;
	outline: none;
	text-indent: 15px;
	padding: 6px 16px;
	background-color: #fff;
}
.wrapper .search-wrap .search-con .search-panel .sousuo,
.wrapper .search-wrap .search-con .search-panel .camera{
	display: inline-block;
	position: absolute;
}
.wrapper .search-wrap .search-con .search-panel .sousuo{
	width: 20px;
	height: 20px;
	top:11px;
	left: 12px;
	background:url('img/fdj.png') no-repeat; 
	background-size: 100% 100%
}
.wrapper .search-wrap .search-con .search-panel .camera{
	width: 20px;
	height: 20px;
	top:11px;
	right:90px;
	background:url('img/xj.png') no-repeat; 
	background-size: 100% 100%
}
.wrapper .search-wrap .search-con .search-box .search-ft{
	width: 625px;
	height: 18px;
	/*border: 1px solid black;*/
}
.wrapper .search-wrap .search-con .search-box .search-ft ul li{
	float: left;
} 
.wrapper .search-wrap .search-con .search-box .search-ft ul li a{
	font-size: 12px;
	color:#666;
	margin-right: 8px;
	line-height: 18px;
}
.wrapper .search-wrap .search-con .search-box .search-ft .more:hover,
.wrapper .search-wrap .search-con .search-box .search-ft ul li a:hover,
.wrapper .search-wrap .search-con .search-box .search-ft ul .select{
color: #f40;
}
.wrapper .search-wrap .search-con .search-box .search-ft .more{
	float: right;
	font-size: 12px;
	color:#666;
	line-height: 25px;
}
.wrapper .search-wrap .search-con .code-box{
	display: inline-block;
	width: 76px;
	height: 90px;
	border: 1px solid #eee;
	vertical-align: middle;
	position: relative;
	margin-left: 120px;
}
.wrapper .search-wrap .search-con .code-box .code{
	display: inline-block;
	width: 62px;
	height: 62px;
	background:url('img/ewm.png') no-repeat;
	background-size: 100% 100%;
	margin-left: 8px;
}
.wrapper .search-wrap .search-con .code-box .p-tb{
	display: inline-block;
	color: #f40;
	text-align: center;
	line-height: 20px;
	margin:4px auto 0;
	width: 78px;
	font-size: 14px;
}
.wrapper .search-wrap .search-con .code-box .close{
	position: absolute;
	top: 0;
	height: 14px;
	width: 14px;
	left: -16px;
	line-height: 14px;
	text-align: center;
	color: #ddd;
	font-size: 14px;
}
/*中间导航*/
.wrapper .screen-nav-con{
	width: 100%;
	height: 30px;
}
.wrapper .screen-nav-con{
	width: 1190px;
	height: 30px;
	margin: 0 auto;
	background:linear-gradient(to right,#ff9000 0,#ff5000 100%);
}

.wrapper .screen-nav-con h2{
	float: left;
	width: 190px;
	height: 30px;
	color: #fff;
	background-color: #ff5000;
	font-size: 16px;
	line-height: 30px;
	text-align: center; 
}
.wrapper .screen-nav-con ul{
	height: 30px;
	font-size: 16px;
	float: left;
}
.wrapper .screen-nav-con ul li{
	float: left;
	text-align: center;
	padding: 0 4px;
	margin:0 3px;
	line-height: 30px;
	font-weight: 700;
	color: #fff;
}
.wrapper .screen-nav-con ul li a{
	color: #fff;
	text-align: center;
	line-height: 30px;
}
/*主体图片区*/
.wrapper .screen-box-wrap{
	width: 1190px;
	height: 632px;
	margin:0 auto;
	/*border: 1px solid black;*/
}
.wrapper .screen-box-wrap .main{
	float: left;
	width: 890px;
	height: 632px;
	/*border: 1px solid black;*/
}
.wrapper .screen-box-wrap .main .main-inner{
	width: 720px;
	height: 522px;
	/*border: 1px solid black;*/
	display: inline-block;
	vertical-align: top;	
}
.wrapper .screen-box-wrap .main .main-inner .inner-left{
	width: 190px;
	height:522px;
	background-color: #fff;
	float: left;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul{
	border: 1px solid #ff5000;
	border-top: none;
	padding-top: 5px;
	padding-bottom: 3px;
	font-size: 14px; 
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li{
	width: 144px;
	height: 32px;
	line-height: 32px;
	font-weight: 400;
	padding-left: 25px;
	padding-right: 19px;
	position: relative;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li a{
	color: #666;
	text-align: center;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li:hover a,
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li:hover span
{
	color: #ff5000;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li a:hover{
		text-decoration: underline;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li:hover{
	background-color:#ffeee5;  
	color: #ff5000;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li span{
	display: inline-block;
	float: right;
	font-size: 6px;
	color: #666;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con{
	width: 520px;
	height: 512px;
	float: left;
	/*background-color:  red;*/
	margin-left: 10px;
	margin-top: 10px; 
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box{
	position:relative;
	width: 520px;
	height: 280px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul{
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left:-35px; 
	height: 13px;
	/*width:70px;*/
	background-color: rgba(255,255,255,.3);
	border-radius: 10px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul li{
	float: left;
	margin:3px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul li a{
	display: block;
	width: 8px;
	padding-top: 8px;
	height: 0;
	border-radius: 50%;
	background-color: #fff;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box ul li .select{
	background-color: #ff5000;
}
.wrapper .screen-box-wrap .main .main-inner .inner-mall{
	width: 520px;
	height: 230px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-mall .head{
	width: 520px;
	height: 22px;
	border-bottom: 3px solid #ff1648;
}
.wrapper .screen-box-wrap .main .main-inner .inner-mall .head .tm-pic{
	display: inline-block;
	width: 136px;
	height: 22px;
	background-image: url('img/tm.png');
	background-size: 100% 100%;
}
.wrapper .screen-box-wrap .main .main-inner .inner-mall .head .tm-wz{
	font-size: 12px;
	color: #666;
}
.wrapper .screen-box-wrap .main .col-middle{
	width: 160px;
	height: 522px;
	/*border:1px solid black;*/
	display: inline-block;
	vertical-align: top;	
}
.wrapper .screen-box-wrap .main .main-bottom{
	width: 888px;
	height: 100px;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con{
	position: relative;
	margin-top: 10px;
	padding: 14px 14px 12px 20px;
	background-color: #fff;
	height: 73px;
}
.wrapper .screen-box-wrap .main .main-bottom .tbtt{
	float: left;
}
.wrapper .screen-box-wrap .main .main-bottom .tbtt-con{
	height:73px;
	width: 675px;
	position: absolute;
	top: 14px;
	left: 200px;
}
.wrapper .screen-box-wrap .main .main-bottom .tbtt-con img{
	float:left;
	width: 130px;
}
.wrapper .screen-box-wrap .main .main-bottom .tbtt-con h4{
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	color: #333;
	margin-left: 144px;
	margin-top: 2px;
}
.wrapper .screen-box-wrap .main .main-bottom .tbtt-con h4:hover{
	color: #f40;
}
.wrapper .screen-box-wrap .main .main-bottom .tbtt-con p{
	color: #999;
	line-height: 18px;
	height: 36px;
	overflow: hidden;
	font-size: 14px;
	margin-left: 144px;
}
.wrapper .screen-box-wrap .col-right{
	float: left;
	width: 290px;
	height: 622px;
	/*background-color: #fee;*/
	/*border: 1px solid black;*/
	margin-top: 10px;
	margin-left: 10px;
	background-color: #fff;
}
.wrapper .screen-box-wrap .col-right .member{
	width: 290px;
	height: 145px;
	padding: 3px 0 10px 0;
	background: url('img/bj.jpg') no-repeat;
	background-size:100% 100%; 
}
.wrapper .screen-box-wrap .col-right .member .member-bd{
	width: 290px;
	height: 91px;
/*	border-bottom:1px solid black; */
}
.wrapper .screen-box-wrap .col-right .member .member-bd .tx{
	width: 290px;
	text-align: center;
}
.wrapper .screen-box-wrap .col-right .member .member-bd .hello{
	display: block;
    line-height: 17px;
    height: 17px; 
    font-size: 12px;
	text-align: center;
	color: #333;
}
.wrapper .screen-box-wrap .col-right .member .member-bd p{
	text-align: center;
	width: 290px;
	height: 17px;
	line-height: 17px;
}
.wrapper .screen-box-wrap .col-right .member .member-bd .icon{
	display: inline-block;
	font-size: 12px;
	color: #f40;
	line-height: 17px;
    border-radius: 9px;
    background: #ffe4db;
    padding: 0 10px 0 0;
    position: relative;
/*    border: none;*/
}
.wrapper .screen-box-wrap .col-right .member .member-bd .icon img{
	display: inline-block;
	margin-right: 8px;
	width: 12px;
	line-height: 17px;
}
.wrapper .screen-box-wrap .col-right .member .member-ft{
	height: 40px;
	width: 290px;
	text-align:center;
	/*border-top: 3px;*/
}
.wrapper .screen-box-wrap .col-right .member .member-ft a{
	display: inline-block;
	width: 75px;
	height: 25px;
	text-align: center;
	color: #fff;
	background:linear-gradient(to right,#ff5000 0,#ff6f06 100%);
	line-height: 25px;
	margin-top: 8px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 700;
}
.wrapper .screen-box-wrap .col-right .member .member-ft .login{
	width: 92px;
}
.wrapper .screen-box-wrap .col-right .message{
	position: relative;
	width: 290px;
	height: 26px;
	background-color: #ffe4db;
	text-align: center;
}
.wrapper .screen-box-wrap .col-right .message a{
	color: #f40;
	line-height: 26px;
	font-size: 12px;
}
.wrapper .screen-box-wrap .col-right .message .ysj{
	position: absolute;
    right: 30px;
    top: 7px;
    margin-left: 32px;
    border:5px solid #ffe4db; 
    border-left-color: #f40;
}
.wrapper .screen-box-wrap .notice{
	height: 90px;
	padding-top: 10px;
	width: 290px;
	/*border-bottom: 1px solid black;*/
}
.wrapper .screen-box-wrap .notice li{
	float: left;
}
.wrapper .screen-box-wrap .notice .title{
	/*width: 290px;*/
	height: 24px;
	margin-top: 4px;
	/*border-bottom: 1px solid black;*/
}
.wrapper .screen-box-wrap .notice .title li{
	width:32px; 
	line-height: 20px;
	margin: 0 11px;
	text-align: center;
}
.wrapper .screen-box-wrap .notice .title li a{
	color: #3c3c3c;
	font-size: 14px;
}
.wrapper .screen-box-wrap .notice .title li a:hover{
	color: #ff5000;
}
.wrapper .screen-box-wrap .notice .title .select{
	font-weight: 700;
	border-bottom: 2px solid #f40;
}
.wrapper .screen-box-wrap .notice .con li{
	height: 25px;
	width: 130px;
	line-height: 25px;
	overflow: hidden;
	padding-right: 5px;
	padding-left: 10px;
}
.wrapper .screen-box-wrap .notice .con li .select{
	color: #f40;
}
.wrapper .screen-box-wrap .notice .con li a{
	color: #3c3c3c;
	font-size: 12px;
	/*padding-right: 15px; */
}
.wrapper .screen-box-wrap .col-right .moudle{
	height: 232px;
	width: 290px;
	border-top:  1px solid #f4f4f4;
}
.wrapper .screen-box-wrap .col-right .moudle li{
	float: left ;
	width: 71.5px;
	height: 75px;
	border-right: 1px solid #f4f4f4;
	border-bottom:  1px solid #f4f4f4;
}
.wrapper .screen-box-wrap .col-right .moudle li a{
	display:block;
	text-align: center;
}
.wrapper .screen-box-wrap .col-right .moudle li a span{
	display: inline-block;
	width: 24px;
	height: 24px;
	border-top: 20px;
	margin-top: 11px;
	background: url('img/pic.png');
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic1{
	background-position: 0 0;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic2{
	background-position: 0 -85px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic3{
	background-position: 0 -44px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic4{
	background-position: 0 -132px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic5{
	background-position: 0 -176px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic6{
	background-position: 0 -220px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic7{
	background-position: 0 -264px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic8{
	background-position: 0 -308px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic9{
	background-position: 0 -352px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic10{
	background-position: 0 -396px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic11{
	background-position: 0 -440px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic12{
	background-position: 0 -484px;
}
.wrapper .screen-box-wrap .col-right .app{
	width: 290px;
	height: 110px;
	/*border:1px solid black;
*/}
.wrapper .screen-box-wrap .col-right .app h3{
	position: relative;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	padding-left: 14px;
	color: #3c3c3c;
}
.wrapper .screen-box-wrap .col-right .app h3 a{
	position: absolute;
	right: 10px;
	color: #3c3c3c;
}
.wrapper .screen-box-wrap .col-right .app ul{
	height: 84px;
	padding-left: 23px;
}
.wrapper .screen-box-wrap .col-right .app ul li{
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 21px;
    margin-bottom: 8px;
    border-radius: 5px;
    overflow: hidden;
}
.wrapper .screen-box-wrap .col-right .app ul li a img{
	width: 32px;
    height: 32px;
}
/*ifont*/
.wrapper .baba{
	display: inline-block;
	position: fixed;
	bottom: 398px;
	right: 50px;
	width: 50px;
	height: 32px;
}
.wrapper .ifont-box{
	display: inline-block;
	position: fixed;
	bottom: 50px;
	right: 50px;
	/*border:1px solid black;*/
	width: 50px;
	height: 350px; 
	background-color: #fff;
	border-radius: 	10px;	
	overflow: hidden;
	text-align:center;	
	line-height: 25px; 
}
.wrapper .ifont-box img{
	display: inline-block;
	padding: 0;
	border:none;
	width: 50px;
	height: 32px;
}
.wrapper .ifont a{
	display: inline-block;	
	width: 	35px;
	height: 49px;
	border-bottom:1px solid #eee;
	text-align:center;	

}
.wrapper .ifont li .red{
	color:red;
	}
.wrapper .ifont li .purple{
		color:purple;
	}
.wrapper .ifont li .green{
    	color:green;
    }
.wrapper .ifont li .orange{
    	 color:#f40;
    	}  
.wrapper .ifont li .black{
	color: #3c3c3c;
}
.wrapper .ifont .select{
	color: #fff;
	width: 	52px;
	height: 49px;
	text-align: center;	
	border-bottom-color: #ff5000;	
	background: linear-gradient(135deg,#ff971b,#ff5000);
}
.wrapper .ifont li:hover{
    font-weight: 700;
    background:linear-gradient(135deg,#ff971b,#ff5000);
}
.wrapper .ifont a:hover{
	    color: #fff;
	    border-bottom-color: #ff5000;
}