*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("img/beijing.jpg");
    background-size: 100% 100%;
}
.button{
    height: 60px;
    width: 170px;
    border-radius: 30%;
    position: absolute;
    left: 50%;
    top:600px;
    margin-left: -85px;
    background-image: url("img/start.PNG");
    background-size: 100% 100%;
    cursor: pointer;
    outline: none;
}
.box{
    height: 500px;
    width: 500px;
    transform: perspective(800px) rotateX(45deg);
    margin: 20px auto;
    border-top: 1px solid #b25f27;
    border-left: 1px solid #b25f27;
    box-shadow: 5px 5px 5px rgba(0,0, 0, 0.3);
    display: none;
}
.flagBox{
    position: absolute;
    top:  50px;
    left: 50%;
    width: 200px;
    height: 50px;
    margin-left: -100px;
    color: #333;
    font-size: 20px;
    font-weight: bolder;
    display: none;
}
.alertBox{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
.alertImg{
    width: 300px;
    height: 200px;
    background-image: url("img/youwin.PNG");
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 20px;
}
.close
{
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 2px;
    top: 0;
    height: 30px;
    width: 30px;
    border-radius:50%;
    border: 1px solid #fff;
    cursor: pointer; 
}
.close:hover{
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    color: rgb(192, 181, 181);
    background-color: rgba(199, 207, 129, 0.1);
    position: absolute;
    right: 2px;
    top: 0;
    height: 30px;
    width: 30px;
    border-radius:50%;
    border: 1px solid #fff;
    cursor: pointer; 
}
.block{
    width: 49px;
    height: 49px;
    border-right: 1px solid #b25f27;
    border-bottom: 1px solid #b25f27;
    box-shadow: 0 0 4px #333 inset;
    background-image: url("img/caodi.jpg");
    float: left;
}
.show{
    background-image: url("img/dilei.jpg");
    background-size: 100% 100%;
}
.num{
    background: #Ecd0a1;
    font-size: 18px;
    font-weight: bold;
    line-height: 49px;
    text-align: center;
}
.flag{
    background: #fff;
    background-image: url('img/hongqi.jpg');
    background-size: 100% 100%;
}